{% extends "relAdmin/admin_base_gestao.html" %}

{% block titulo_pagina %}Atores{% endblock %}
{% block sub_titulo %}Lista de Atores da Base de Dados{% endblock %}

{% block cabecalhos_tabela %}
    <th>Nome do Ator</th>
    <th style="text-align: right;">Ações</th> {% endblock %}

{% block linhas_tabela %}
    {% for ator in itens %}
    <tr>
        <td><strong>{{ ator.nome }}</strong></td>
        <td style="text-align: right;">
            <a href="{% url 'editar_item_admin' 'ator' ator.id %}" class="btn-acao">
                <i class="fas fa-edit"></i>
            </a>
            <a href="{% url 'apagar_item_admin' 'ator' ator.id %}"
               class="btn-acao btn-delete"
               onclick="return confirm('Tem a certeza que deseja apagar {{ ator.nome }}?');">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block botao_adicionar %}
    <a href="/admin/app/ator/add/" class="btn btn-warning" style="font-weight: bold;">
        <i class="fas fa-plus"></i> Adicionar Ator
    </a>
{% endblock %}