{% extends "relAdmin/admin_base_gestao.html" %}

{% block cabecalhos_tabela %}
    <th>Nome do Grupo</th>
    <th>Membros</th>
    <th style="text-align: right;">Ações</th>
{% endblock %}

{% block linhas_tabela %}
    {% for grupo in grupos %}
    <tr>
        <td><strong>{{ grupo.name }}</strong></td>
        <td>{{ grupo.user_set.count }} utilizadores</td>
        <td style="text-align: right;">
            <a href="{% url 'detalhe_grupo' grupo.id %}" class="btn-acao"><i class="fas fa-eye"></i></a>
            <a href="{% url 'editar_grupo' grupo.id %}" class="btn-acao"><i class="fas fa-edit"></i></a>
            <a href="{% url 'apagar_grupo' grupo.id %}" class="btn-acao btn-delete" onclick="return confirm('Apagar grupo?')">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block botao_adicionar %}
    <a href="{% url 'criar_grupo' %}" class="btn btn-warning" style="font-weight: bold;">
        <i class="fas fa-plus"></i> Adicionar Grupo
    </a>
{% endblock %}