{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>MOVIEZ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'content/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'lista_filmes' %}">MOVIEZ
                <i class="fas fa-film icone-rolo-animado"></i></a>

            </div>
            
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <span class="text-white me-3">Olá, {{ user.username }}!</span>

                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-warning btn-sm">Sair</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-warning btn-sm">Entrar</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- Feedback (Mensagens Django) -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" style="margin-top: 20px;">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Conteúdo Injetado (Apenas 1 vez!) -->
        {% block content %}
        {% endblock %}
    </div>

    <!-- (Restante código do fim do layout) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- NOVO: Bloco para injetar scripts no fim de cada página -->
    {% block scripts %}
    {% endblock %}
</body>
</html>